.imageBig {
    background-image: url('https://fashionopolism-galleria.myshopify.com/cdn/shop/files/gallerie-001.jpg?v=1614313030&width=1200');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;

}
