.cartPageMain{
    margin: 3%;
    color: #2b2b2b;
}
.cartPageHeadingDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cartPageCartItems{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}
.cartPageHeading{
    font-size: 23px;
    color: #2b2b2b;
}
.bottomTotalDivMain{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.bottomTotalDiv{
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}
.bottomTotalDivUpper{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.specialGrey{
    background-color: #d5d5d5;
    padding: 12px;
}