.belowCartDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.belowCartDivItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.belowCartDivButtons {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.buttonViewCart {
    background-color: #ededed;
    padding: 15px 20px;
    letter-spacing: 0.5px;
}

.buttonCheckOut {
    background-color: #2b2b2b;
    color: white;
    padding: 15px 20px;
    letter-spacing: 0.5px;
}

.sideCartMain {
    height: 100%;
    width: 26%;
    position: fixed;
    z-index: 100001;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
}

.sideCartDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.open{
    transform: none;
    overflow: hidden;
}

.sideCartDivCross {
    width: 20px;
    height: 20px;
    border-color: #2d2d2d;
}

.sideCartDivHeading {
    font-size: 20px;
    color: #2b2b2b;
}

.sideCartDiv2 {
    text-align: center;
}
.newDiv{
    opacity: 0.8;
    background-color: #1e1e1e;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100
}