.featuresContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 35px 0;
}
.featuresItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.featuresItems h3{
    font-size: 22px;
}