.ourSlider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.singleProduct {
    text-align: center;
    position: relative;
}

.singleProductImage {
    width: 80%;
    height: 80%;
    margin: auto;
}
.singleProductFirstSpan{
    position: absolute;
    top: 40%;
    left: 32%;
    border: 0;
    cursor: pointer;
    color: white;
    width: auto;
    padding: 10px 30px;
    background-color: #2b2b2b;
    opacity: 0;
    letter-spacing: 1px;
    font-size: 11px;
}
.singleProductFirstSpan:hover{
    background-color: black;
    transition: all 800ms ease;
}
.singleProduct:hover .singleProductFirstSpan{
    opacity: 1;
}

.singleProduct p {
    font-size: 15px;
    padding: 3px 0;
}

.react-multiple-carousel__arrow{
    background-color: transparent !important;

}
.react-multiple-carousel__arrow::before{
    color: black !important;
}
.react-multiple-carousel__arrow--right{
    right: calc(-1% + 1px) !important;
}
.react-multiple-carousel__arrow--left{
    left: calc(-1% + 1px) !important;
}