.twoTypesMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 3%;
    letter-spacing: 0.5px;
}
.twoTypesH{
    color: #2b2b2b;
    font-size: 20px;
}
.theUnderLine{
    border: 1.8px solid #d5d5d5;
    width: 80px;
}
.active{
    font-size: 15px;
    color: #2b2b2b;
    background-color: white;
    padding: 2px 8px;
    border: 2px solid #2b2b2b;
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin: 0 5px;
}
.notActive{
    font-size: 15px;
    color: white;
    background-color: #2b2b2b;
    padding: 2px 8px;
    border: 2px solid #2b2b2b;
    transition: all .25s ease-in-out;
    cursor: pointer;
    margin: 0 5px;
}

.ourCompo{
    padding: 20px;
    margin: 10px;
    width: 100vw;
}